*{

    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
}

header{
    background-color: black;
    height: 5em;
}

img{
    margin-left: 10%;
    margin-top: 14px;
}

.head-tag{
    float: right;
    margin-top: 33px;
    margin-right: 55px;
}

.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
  }

  .head-tag a:hover{
      background-color: blue;
      color: black;
      transition: 0.5s ease-in-out;
  }
  
  .sidebar{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
      padding: 100px;
  }

  .sidebar li{
      list-style: square;
      margin-bottom: 5px;
  }

  .login{
      float: right;
      border: 2px solid red;
      background-color: beige;
      height: 15em;
      margin-top: 5%;
      margin-right: 2%;
      padding: 30px;
  }

  .login h2{
    text-align: center;
  }

  .login input{
      height: 1.5em;
  }

  .login #login-button{
      width: 100%;
      height: 1.8em;
      color: white;
      background-color: dodgerblue;
      border: 1px solid dodgerblue;
  }
/*  p-box */
  .container{
     /* border: 2px solid black;*/
      margin-top: 7%;
      margin-left: 3%;
  }
  .p-box{
      border: 3px solid white;
      width: 22%;
      float: left;
      margin-left: 10px;
      height: 16em;
      padding: 5px;
      background-color: antiquewhite;
  }

  .p-box h3{
      text-align: center;

  }

  .p-box{
      line-height: 1.25em;
      text-align: justify;
  }

  .p-box a{
      text-decoration: none;
      color: red;
  }

  /* paragraph finish*/

  /*footer*/
  footer{
      background-color: black;
      color: white;
      height: 1.5em;
      margin-top: 28%;
  }
  footer h3{
      text-align: center;
  }